{% extends "base.html" %}
{% block profileavatar %}
<h2>User</h2>

<img src="{{ gravatar }}" height="100%" width="100%" class="img-polaroid">

<hr>
{% endblock profileavatar %}
{% block usercontent %}
<div class="span7 well">

    <div class="bs-docs-example bs-navbar-top-example">
        <div class="navbar navbar-static-top" style="margin: -1px -1px 0;">
            <div class="navbar-inner">
                <div class="container" style="width: auto; padding: 0 20px;">
                    <a class="brand" href="#">{{ user.real_name or user.username }}</a>
                    <div class="btn-group">
                        {% if user.username_norm == username %}
                        <a href="/{{ user.username_norm }}?mode=edit" class="btn" type="button"><i class="icon-edit"></i> Edit Profile</a>
                        {% elif friend_btn %}
                        <form action="/friends" method="post" style="margin: 0;">
                            <input type="text" name="name" value="{{ user.username_norm }}" class="hidden" style="display: none;"/>
                            <input type="text" name="to" value="{{ username }}" class="hidden" style="display: none;"/>
                            <input type="text" name="action" value="add" class="hidden" style="display: none;"/>
                            <button type="submit" class="btn"><i class="icon-user"></i> Add Friend</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="bs-docs-example">
        <div class="tabbable" style="margin-bottom: 18px;">

            <ul class="nav nav-tabs" id="myTab">
                <li><a href="#aboutyou" data-toggle="tab">About You</a></li>
                <li class="active"><a href="#projects" data-toggle="tab">Projects</a></li>
                <li><a href="#courses" data-toggle="tab">Courses</a></li>
                <li><a href="#tools" data-toggle="tab">Tools</a></li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane" id="aboutyou">{{ user.short_about }}</div>

                <div class="tab-pane active" id="projects">
                    {% if user.username_norm == username %}
                        <div class="pull-right">
                            <a href="/{{ user.username_norm }}?mode=add_project" class="btn btn-mini" type="button">
                                <i class="icon-plus"></i> Add
                            </a>
                            <a href="/{{ user.username_norm }}?mode=edit_project" class="btn btn-mini" type="button">
                                <i class="icon-edit"></i> Edit
                            </a>
                        </div>
                    {% endif %}
                    {% if projects %}
                        <h4>Here is a selection of projects that I'm working on.</h4>
                        <br>

                        <div class="row-fluid">

                            <div id="myCarousel" class="carousel slide" data-interval="5000">
                                <div class="carousel-inner">
                                    {% set active = "active" %}
                                    {% for project in projects %}
                                        <div class="item {{active}}">
                                            {% set active = "" %}
                                            <img src="{{ project.screenshot_url }}" alt="Invalid Image Data" 
                                            style="width:100%; height: 450px; ">
                                            <div class="carousel-caption">
                                                <h4>{{ project.title }}</h4>
                                                <p>{{ project.short_description }}</p>
                                                <p><a href="{{ project.url }}" target="_blank">Visit</a></p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                            </div>
                        </div>
                    {% else %}
                        <h4> No projects added </h4>
                    {% endif %}
                </div>

                <div class="tab-pane" id="courses">

                    {% if courses_incomplete %}
                        <h4>Courses I'm Working On...</h4>
                        <ul>
                            {% for course in courses_incomplete %}
                            <li><a href="#">{{ course.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h4>Currently I am not taking any course</h4>
                    {% endif %}
                    
                    <hr>

                    {% if courses_completed %}
                        <h4>Courses I've Completed...</h4>
                        <ul>
                            {% for course in courses_completed %}
                                <li><a href="#">{{ course.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h4>I've not completed any course yet</h4>
                    {% endif %}

                </div>

                <div class="tab-pane" id="tools">{{ user.tools }}</div>

            </div>
        </div> <!-- /tabbable -->
    </div>

</div>
{% endblock usercontent %}

{% block js %}
    {{ super() }}

    <script type="text/javascript" src="/js/pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/js/pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript">
        var converter = Markdown.getSanitizingConverter();

        var about = converter.makeHtml($('#aboutyou').text());
        var tools = converter.makeHtml($('#tools').text());
        $('#aboutyou').html(about);
        $('#tools').html(tools);
    </script>
{% endblock %}