[submodule "uplusmessaging/externals/bcrypt"]
    path = uplusmessaging/externals/bcrypt
    url = https://github.com/erlichmen/py-bcrypt.git
[submodule "uplusprofiles/externals/bcrypt"]
	path = uplusprofiles/externals/bcrypt
	url = https://github.com/erlichmen/py-bcrypt.git
