{% extends "base.html" %}
{% block stylesheets %}
    {{ super() }}
    <link href="stylesheets/multi-select.css" media="screen" rel="stylesheet" type="text/css">
    <link href="stylesheets/datepicker.css" media="screen" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block usercontent %}
<form class="form-horizontal span7 well" method="POST" action="/{{ user.username }}">
    <fieldset class="bs-docs-example">
        <div id="legend" class="">
            <legend class="">Add Project</legend>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="title">Project Title</label>
            <div class="controls">
                <input type="text" id="title" name="title" placeholder="" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>

        <!--<div class="control-group">
            <label class="control-label" for="developers">Project Developer(s)</label>
            <div class="controls">
                <input type="text" id="developers" name="developers" placeholder="" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>-->

        <div class="control-group">
            <label class="control-label" for="screenshot">Screenshot Url</label>
            <div class="controls">
                <input type="text" id="screenshot" name="screenshot" placeholder="" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="url">Visit/Download Url</label>
            <div class="controls">
                <input type="text" id="url" name="url" placeholder="" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Desciption</label>
            <div class="controls">
                <div class="textarea">
                    <textarea type="" class="" style="width: 400px; height: 200px;" name="description"> </textarea>
                </div>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label"></label>

            <!-- Button -->
            <div class="controls">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
        <input type="hidden" name="mode" value="add_project"/>
    </fieldset>
</form>


{% endblock usercontent%}
{% block js %}
    {{ super() }}
    <script src="/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#dob').datepicker()
        $('#classes_completed').multiSelect();
        $('#classes_inprog').multiSelect();
    </script>
{% endblock %}