{% extends "base.html" %}
{% block stylesheets %}
    {{ super() }}
    <link href="/stylesheets/chosen.css" rel="stylesheet">
{% endblock stylesheets %}

{% block usercontent %}
<form class="form-horizontal span7 well" method="POST" action="{{ upload_url }}" enctype="multipart/form-data">
    <fieldset class="bs-docs-example">
        <div id="legend" class="">
            <legend class="">Select Project</legend>
        </div>
        {% if projects %}
            <div class="control-group">
                <label class="control-label" for="projects_dropdown">Select Project</label>
                <div class="controls">
                    <select class="span5" id="projects_dropdown" name="projects_dropdown" onchange="load_selected_project(this)">
                        {% for project in projects %}
                            <option value="{{ project.key.id() }}">{{ project.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr/>

            <div>
                <a href="javascript:remove_selected_project()" class="btn pull-right" type="button" id="delete">
                    <i class="icon-trash"></i>
                </a>
            </div>

            <div class="control-group">
                <label class="control-label" for="title">Project Title</label>
                <div class="controls">
                    <input type="text" id="title" name="title" class="input-xlarge" value="{{ title }}">
                    <p class="help-block"></p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="screenshot">Screenshot</label>
                <div class="controls">
                    <input type="file" id="screenshot" name="screenshot" class="input-xlarge">
                    <p class="help-block">(maximum 1MB)</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="url">Visit/Download Url</label>
                <div class="controls">
                    <input type="text" id="url" name="url" class="input-xlarge" value="{{ url }}">
                    <p class="help-block"></p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Short Desciption</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea maxlength="100" type="" class="" style="width: 400px; height: 200px;" 
                        id="description" name="description"> {{ descrption }} </textarea>
                    </div>
                </div>
            </div>

            {% if errormsg %}
                <div class="control-group">
                    <div class="alert alert-error controls" style="width: 400px;">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Error!</strong> {{errormsg}}
                    </div>
                </div>
            {% endif%}


            <div class="control-group">
                <label class="control-label"></label>

                <!-- Button -->
                <div class="controls">
                    <button type="submit" class="btn btn-primary"> Update </button>
                    <button type="button" class="btn" onclick="redirect()">Cancel</button>
                </div>
            </div>
            <input type="hidden" name="mode" value="edit_project"/>

        {% else %}
            <h4> No projects added </h4>
        {% endif %}
        


    </fieldset>
</form>


{% endblock usercontent%}
{% block js %}
    {{ super() }}
    <script src="/js/chosen.jquery.min.js" type="text/javascript"></script>
    
    <script type="text/javascript" >
        
        var js_title = new Array();
        var js_url = new Array();
        var js_description = new Array();
        var count = 0;

        {% for project in projects %}
            js_title[count] =  '{{project.title}}'
            js_url[count] =  '{{project.url}}'
            js_description[count] =  '{{project.description}}'
            count++;
        {% endfor %}

        function load_selected_project(self) {
            var project_index = self.selectedIndex; 
            document.getElementById('title').value = js_title[project_index];
            document.getElementById('url').value = js_url[project_index];
            document.getElementById('description').value = js_description[project_index];
        }

        load_selected_project(document.getElementById('projects_dropdown'))

        function remove_selected_project() { 
            var form = document.createElement('form');
            form.setAttribute('method', 'POST');
            form.setAttribute('action', '/{{ user.username_norm }}');
            
            var hiddenField1 = document.createElement('input');
            hiddenField1.setAttribute('type', 'hidden');
            hiddenField1.setAttribute('name', 'mode');
            hiddenField1.setAttribute('value', 'remove_project');

            var hiddenField2 = document.createElement('input');
            hiddenField2.setAttribute('type', 'hidden');
            hiddenField2.setAttribute('name', 'project_id');
            var e = document.getElementById('projects_dropdown');
            var pid = e.options[e.selectedIndex].value;
            hiddenField2.setAttribute('value', pid);

            form.appendChild(hiddenField1);
            form.appendChild(hiddenField2);

            document.body.appendChild(form);
            form.submit();
        }

        $('#projects_dropdown').chosen()

        $(document).ready( function () {
            setMaxLength();
            $("#description").bind("click mouseover keyup change", function(){checkMaxLength(this.id); } )
        });

        function setMaxLength() {
            $("#description").each(function(i){
                intMax = $(this).attr("maxlength");
                $(this).after("<div><span id='"+this.id+"Counter'>"+intMax+"</span> remaining</div>");
            });
        }

        function checkMaxLength(strID){
            intCount = $("#"+strID).val().length;
            intMax = $("#"+strID).attr("maxlength");
            strID = "#"+strID+"Counter";
            $(strID).text(parseInt(intMax) - parseInt(intCount));
            if (intCount < (intMax * .8)) {$(strID).css("color", "#006600"); } //Good
            if (intCount > (intMax * .8)) { $(strID).css("color", "#FF9933"); } //Warning at 80%
            if (intCount > (intMax)) { $(strID).text(0).css("color", "#990000"); } //Over
        }

        function redirect()
        {
            window.location="/{{ username }}";
        }        
    </script>

    


{% endblock %}