{% extends "base.html" %}
{% block stylesheets %}
    {{ super() }}
    <link href="stylesheets/multi-select.css" media="screen" rel="stylesheet" type="text/css">
    <link href="stylesheets/datepicker.css" media="screen" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block usercontent %}
<form class="form-horizontal span7 well" action="/{{ user.username }}">
    <fieldset class="bs-docs-example">
        <div id="legend" class="">
            <legend class="">Edit user details</legend>
        </div>
        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="realName">Real Name</label>
            <div class="controls">
                <input type="text" id="realName" placeholder="Real Name" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div><div class="control-group">

        <!-- Email-->
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input type="text" id="email" placeholder="Email" class="input-xlarge">
            <p class="help-block"></p>
        </div>
    </div>

        <div class="control-group">

            <!-- About -->
            <label class="control-label">About</label>
            <div class="controls">
                <div class="textarea">
                    <textarea type="" class=""> </textarea>
                </div>
            </div>
        </div>

        <div class="control-group">
            <!-- Age -->
            <label class="control-label" for="dobinp">Date of Birth</label>
            <div class="controls date" data-date="{{ dob }}" data-date-format="dd-mm-yyyy">
                <input id="dobinp"  type="text" value=""  class="input-xlarge">
                <span class="add-on"><i class="icon-th"></i></span>
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="classes_inprog">Courses in progress</label>
            <div class="controls">
                <select id='classes_inprog' multiple='multiple'>
                    <optgroup label='Friends'>
                        <option value='1'>Yoda</option>
                        <option value='2'>Obiwan</option>
                    </optgroup>
                    <optgroup label='Enemies'>
                        <option value='3'>Palpatine</option>
                        <option value='4'>Darth Vader</option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="classes_completed">Courses completed</label>
            <div class="controls">
                <select id='classes_completed' multiple='multiple'>
                    <optgroup label='Friends'>
                        <option value='1'>Yoda</option>
                        <option value='2'>Obiwan</option>
                    </optgroup>
                    <optgroup label='Enemies'>
                        <option value='3'>Palpatine</option>
                        <option value='4'>Darth Vader</option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input id="password" type="password" placeholder="Password" class="input-xlarge">
                <p class="help-block">Minimum 8 characters</p>
            </div>
        </div>

        <div class="control-group">

            <!-- confirm password-->
            <label class="control-label" for="password_confirm">Confirm Password</label>
            <div class="controls">
                <input type="password" placeholder="" id="password_confirm" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Options</label>
            <div class="controls">
                <!-- Multiple Checkboxes -->
                <label class="checkbox">
                    <input type="checkbox" value="Send email on new message">
                    Send email on new message
                </label>
            </div>

        </div>
        <div class="control-group">
            <label class="control-label"></label>

            <!-- Button -->
            <div class="controls">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>

    </fieldset>
</form>
{% endblock usercontent%}
{% block js %}
    {{ super() }}
    <script src="/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#dob').datepicker()
        $('#classes_completed').multiSelect();
        $('#classes_inprog').multiSelect();
    </script>
{% endblock %}