{% extends "base.html" %}
{% block profileavatar %}
<h2>User</h2>

<img src="{{ gravatar }}" height="100%" width="100%" class="img-polaroid">

<hr>
{% endblock profileavatar %}
{% block usercontent %}
<div class="span7 well">

    <div class="bs-docs-example bs-navbar-top-example">
        <div class="navbar navbar-static-top" style="margin: -1px -1px 0;">
            <div class="navbar-inner">
                <div class="container" style="width: auto; padding: 0 20px;">
                    <a class="brand" href="#">{{ user.real_name or user.username }}</a>
                    <div class="btn-group">
                        {% if user.username_norm == username %}
                        <a href="/{{ user.username_norm }}?mode=edit" class="btn" type="button"><i class="icon-edit"></i> Edit Profile</a>
                        {% elif friend_btn %}
                        <form action="/friends" method="post" style="margin: 0;">
                            <input type="text" name="name" value="{{ user.username_norm }}" class="hidden" style="display: none;"/>
                            <input type="text" name="to" value="{{ username }}" class="hidden" style="display: none;"/>
                            <input type="text" name="action" value="add" class="hidden" style="display: none;"/>
                            <button type="submit" class="btn"><i class="icon-user"></i> Add Friend</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="bs-docs-example">
        <div class="tabbable" style="margin-bottom: 18px;">

            <ul class="nav nav-tabs" id="myTab">
                <li><a href="#aboutyou" data-toggle="tab">About You</a></li>
                <li class="active"><a href="#projects" data-toggle="tab">Projects</a></li>
                <li><a href="#courses" data-toggle="tab">Courses</a></li>
                <li><a href="#tools" data-toggle="tab">Tools</a></li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane" id="aboutyou">

                    <h4>User</h4>
                    <p>Hi, I like programming and learning new things on Udacity.</p>
                </div>

                <div class="tab-pane active" id="projects">
                    {% if user.username_norm == username %}
                        <div class="pull-right">
                            <a href="/{{ user.username_norm }}?mode=add_project" class="btn btn-mini" type="button">
                                <i class="icon-plus"></i> Add
                            </a>
                            <a href="/{{ user.username_norm }}?mode=edit_project" class="btn btn-mini" type="button">
                                <i class="icon-edit"></i> Edit
                            </a>
                        </div>
                    {% endif %}
                    {% if projects %}
                        <h4>Here is a selection of projects that I'm working on.</h4>
                        <br>

                        <div class="row-fluid">

                            <div id="myCarousel" class="carousel slide">
                                <div class="carousel-inner">
                                    {% set active = "active" %}
                                    {% for project in projects %}
                                        <div class="item {{active}}">
                                            {% set active = "" %}
                                            <img src="{{ project.screenshot }}" alt="Invalid Image url" 
                                            style="width:100%; height: 350px; ">
                                            <div class="carousel-caption">
                                                <h4>{{ project.title }}</h4>
                                                <p>{{ project.description }}</p>
                                                <p><a href="{{ project.url }}" target="_blank">visit</a></p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                            </div>
                        </div>
                    {% else %}
                        <h4> No projects added </h4>
                    {% endif %}
                </div>

                <div class="tab-pane" id="courses">

                    <h4>Courses I'm Working On...</h4>
                    <ul>
                        <li><a href="#">Differential Equations in Action: Making Math Matter</a></li>
                    </ul>

                    <hr>

                    <h4>Courses I've Completed...</h4>
                    <ul>
                        <li><a href="#">Artificial Intelligence: Programming a Robotic Car</a></li>
                        <li><a href="#">Applied Cryptography: Science of Secrets</a></li>
                        <li><a href="#">Web Development: How to Build a Blog</a></li>
                        <li><a href="#">Design of Computer Programs: Programming Principles</a></li>
                    </ul>

                </div>

                <div class="tab-pane" id="tools">

                    <h4>Languages</h4>
                    <table cellpadding="5" rules="cols">
                        <tr><th>Name</th><th>Approximate Skill Level</th></tr>
                        <tr><td>Python</td><td>Awesome</td></tr>
                        <tr><td>Whitespace</td><td>Awesome</td></tr>
                        <tr><td>Perl 6</td><td>Questionable</td></tr>
                    </table>

                    <hr>

                    <h4>Software/Libraries</h4>
                    <table cellpadding="5" rules="cols">
                        <tr><th>Name</th><th>Approximate Skill Level</th></tr>
                        <tr><td>Google App Engine</td><td>Awesome</td></tr>
                        <tr><td>OpenGL</td><td>Awesome</td></tr>
                        <tr><td>Jquery</td><td>Beginner</td></tr>
                    </table>

                </div>

            </div>
        </div> <!-- /tabbable -->
    </div>

</div>
{% endblock usercontent %}