{% extends "base.html" %}
{% block content %}

    <h2>Inbox</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>From</th>
            <th>Date</th>
        </tr>
        {% if conversations %}
            {% for c in conversations %}
                <tr>
                    <td>{{ c.title }}</td>
                    <td>
                        {{ c.receiver_name }}
                    </td>
                    <td>{{ c.created.strftime("%B %d") }}</td>
                </tr>
                {% for m in c.messages %}
                    <tr>
                        <td class="preview" colspan="3"><a href='/messages/{{ c.key.id() }}/{{ m.key.id() }}'>{{ m.content|truncate(140) }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </table> 
    <a href='/messages?show=sent'>Check outbox</a>
    <a href='/messages?show=new'>Send new message</a>
    <button onclick="getPreviousMessages()">Older</button>
    <button onclick="getNewerMessages()">Newer</button>

{% endblock %}