{% extends "base.html" %}
{% import "macros.html" as m %}
{% block title %}{{ super() }} Send Message{% endblock %}
{% block usercontent %}
    <div class="span7">
        <h2>Login</h2>
        <form action="/messages" method="Post" class="form-horizontal">
            <fieldset>
                <div class={% if errors.error_invalid_username or errors.error_user_exists%}"control-group error"
                {% else %}"control-group"{% endif %}>
                    <label class="control-label" for="receiver">Send to:</label>
                    <div class="controls">
                        <input {% if receiver %}
                                   value="{{ receiver }}" readonly="readonly"
                               {% endif %}
                                type="text" name="receiver" id="receiver" required="required"
                                placeholder="Receiver" class="input-xlarge focused"/>
                        <span class="help-inline">{{ errors.error_invalid_username}}</span>
                        <span class="help-inline">{{ errors.error_user_exists }}</span>
                    </div>
                </div>

            <div class={% if errors.error_message_title %}"control-group error"{% else %}"control-group"{% endif %}>
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    {{  m.input("text", "title", "title", title, "Title") }}
                    <span class="help-inline">{{ errors.error_message_title }}</span>
                </div>
            </div>

            <div class={% if errors.message_content %}"control-group error"{% else %}"control-group"{% endif %}>
                <label class="control-label" for="content">Message</label>
                <div class="controls">
                    <textarea name='content' id='content' required="required" class="span=5"></textarea>
                    <span class="help-inline">{{ errors.error_message_content }}</span>
                </div>
            </div>

            <div class="form-actions">
                <input class="btn btn-primary" name="submit" value="Send Message" type="submit">
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}