dl {
  margin-bottom: 10px;
}

dt {
  font-weight: normal;
}

dt,dd {
  line-height: 25px;
  padding-top: 5px;
  margin-bottom: 10px;;
}
.home_bp{background:transparent url(../img/logo.png) top center no-repeat;padding-top:20em;text-align:center}.home_bp h1{font-size:1.6em}.home_bp p{font-size:1.2em}

.psearch-result td {vertical-align: top }
.psearch-avatar { width: 50px; }
.psearch-avatar img { height: 50px; width: 50px;  }
.psearch-info { padding-left: 10px; vertical-align: top; }
.psearch-username { font-size: 1.2em; padding-bottom: 15px; }
.psearch-realname { font-size: .8em; color: #888; }
.select2-highlighted .psearch-realname{ font-size: .8em; color: #eee; }
.bigdrop.select2-container .select2-results {max-height: 300px;}
.bigdrop .select2-results {max-height: 300px;}