{% extends base_layout %}
{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="/css/chat.css">
{% endblock %}
{% block usercontent %}
<div class="span7 containchat" id="usercontent">
<div class="row nomargin" id="whole-chatbox">
  <div class="span12 nomargin" id="chatclient">
    <ul class="nav nav-tabs" id="chattabs">
      <!-- Tabs will be dynamically added -->
      <!--<li class="active"><a href="#">!server</a></li>-->
    </ul>
    <div class="row nomargin" id="channelpanes">
      <div class="span9 nomargin" id="chatarea">
      </div>
      <div class="span3 nomargin" id="userarea">
      </div>
    </div> <!-- channelpanes -->
    <div class="row nomargin" id="inputs">
      <div class="span9 nomargin" id="textinput">
        <input class="virgin-textinput" type="text" name="chatinput" value="Type chat messages here and press enter" id="chatinput">
      </div>
      <div class="span9 nomargin" id="spare">
        Try entering "/help".
      </div>
    </div>
  </div> <!-- #chatclient -->
</div> <!-- #whole-chatbox -->
</div> <!-- End hero unit -->
{% endblock usercontent %}
{% block mediaJS %}
<script src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
    // Begin dealing with communications
    var username = "{{ username }}";
    var token = "{{ token }}";
    var server = "{{ server }}";
    var identifier = "{{ identifier }}";
</script>
<script type="text/javascript" src="/js/chat.js"></script>
{% endblock mediaJS %}