{% import "macros.html" as m %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <title>{% block title %}Udacity+{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/stylesheets/style.css" rel="stylesheet"/>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
        <link href="/stylesheets/select2.css" rel="stylesheet"/>

        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="/img/favicon.ico">
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Udacity+</a>
                <div class="nav-collapse collapse">
                    {% if not is_authenticated() %}
                        <a class="btn btn-primary pull-right space4" href="/signup">Sign up</a>
                        <form class="navbar-form pull-right" action="login" method="post">
                            <input class="span2" type="text" name="username" placeholder="Email" required="required">
                            <input class="span2" type="password" name="password" placeholder="Password" required="required">
                            <button type="submit" class="btn">Sign in</button>
                        </form>
                    {% else %}
                        <p class="navbar-text pull-right">
                            <a href="/logout" class="navbar-link">Log out {{ username }}</a>
                        </p>
                    {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {% block content %}
        <div class="container-fluid">

            <div class="row-fluid">

                <!-- side avatar & navbar
               ================================================== -->
                {% block leftsidebar %}
                    <div class="span2 well sidebar-nav">
                        {% block profileavatar %}

                        {% endblock profileavatar %}
                        {% block sidebarnav %}
                            <ul class="nav nav-list">

                                <li class="active"><a href="/{{ username }}"><i class="icon-home"></i>Profile</a></li>
                                <li><a href="/messages?show=all"><i class="icon-envelope"></i>Messages</a></li>
                                <li><a href="#"><i class="icon-calendar"></i>Meetups</a></li>
                                <li><a href="#"><i class="icon-wrench"></i>Settings</a></li>

                                <li class="nav-header">Groups</li>

                                <li><a href="#"><i class="icon-user"></i>CS212 PS5</a></li>
                                <li><a href="#"><i class="icon-user"></i>Contest Project</a></li>

                            </ul>
                        {% endblock sidebarnav %}
                    </div>
                {% endblock %}

                <!-- body
               ================================================== -->

                {% block usercontent %}
                {% endblock usercontent %}

                <!-- peers list
               ================================================== -->
                {% block peerlist %}
                    <div class="span3 well sidebar-nav">


                        <h2>Peers</h2>

                        <p>
                            <input type="hidden" class="bigdrop" id="search" style="width:250px"/>
                        </p>

                        <br><br>
                        <div class="bs-docs-example">
                            <div class="dropdown clearfix">
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
                                    {% if friends %}
                                    {% for friend in friends %}
                                        {{ m.sendMsgModal("sendMsgModal-" + friend.username, username, friend.username, '/messages') }}
                                        <li class="dropdown-submenu" role="menuitem">
                                            <a tabindex="-1" href="/{{ friend.username }}">{{ friend.real_name or friend.username }}</a>
                                            <ul class="dropdown-menu">
                                                <li><a data-toggle="modal"
                                                       href="#sendMsgModal-{{ friend.username }}"
                                                       role="button">Send Message</a>
                                                </li>
                                                <li><a tabindex="-1" href="#">Chat</a></li>
                                            </ul>
                                        </li>

                                        <li class="divider" role="menuitem"></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    </div>
                {% endblock peerlist %}
            </div>

            <hr>
            <footer>
                <p>footer</p>
            </footer>

        </div>
    {% endblock content %}
</body>

<script type="text/javascript" src="/js/temp.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/js/bootstrap-transition.js"></script>
<script src="/js/bootstrap-carousel.js"></script>
<script src="/js/bootstrap-tab.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/select2/select2.js"></script>
<script src="/js/user_lookup.js"></script>
</html>
