{% extends "base.html" %}
{% block content %}

    <h2>Outbox</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>To</th>
            <th>Date</th>
        </tr>
        {% if messages %}
        {% for message in messages: %}
        <tr>
            <td>{{ message.title }}</td>
            <td>{{ message.receiver }}</td>
            <td>{{ message.timestamp.strftime("%B %d") }}</td>
        </tr>
        <tr>
            <td class="preview" colspan="3"><a href='/messages/{{ message.key().id() }}'>{{ message.content|truncate(140) }}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <a href='/messages?show=received'>Check inbox</a>
    <a href='/messages?show=new'>Send new message</a>

{% endblock %}