{% extends "base.html" %}
{% block content %}

    <h2>Inbox</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>From</th>
            <th>Date</th>
        </tr>
        {% if messages %}
        {% for message in messages: %}
        <tr>
            <td>{{ message.title }}</td>
            <td>{{ message.sender }}</td>
            <td>{{ message.timestamp.strftime("%B %d") }}</td>
        </tr>
        <tr>
            <td class="preview" colspan="3"><a href='/messages/{{ message.key().id() }}'>{{ message.content|truncate(140) }}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table> 
    <a href='/messages?show=sent'>Check outbox</a>
    <a href='/messages?show=new'>Send new message</a>
    <button onclick="getPreviousMessages()">Older</button>

{% endblock %}