{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span5 offset3">
        <h2>Login</h2>
        <form action="" method="Post" class="form-horizontal">
            <fieldset>
                <div class={% if errors.error_invalid_username or errors.error_user_exists%}"control-group error"
                           {% else %}"control-group"{% endif %}>
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text"
                               name="username"
                               id="username"
                               class="input-xlarge focused"
                               required="required"
                               placeholder="Username">
                        <span class="help-inline">{{ errors.error_invalid_username}}</span>
                        <span class="help-inline">{{ errors.error_user_exists }}</span>
                    </div>
                </div>
                <div class={% if errors.error_password %}"control-group error"{% else %}"control-group"{% endif %}>
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password"
                               name="password"
                               class="input-xlarge focused"
                               placeholder="Password"
                               required="required"
                               id="password">
                        <span class="help-inline">{{ errors.error_password }}</span>
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit">
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
