{% macro input(type, name, id, value, placeholder) -%}
<input type="{{ type }}" name="{{ name }}" id="{{ id }}" required="required" placeholder="{{ placeholder }}"
       class="input-xlarge focused"
        {% if value %}
       value="{{ value }}" readonly="readonly"
        {% endif %}
        />
{%- endmacro %}

{% macro sendMsgModal(modal_label, sender, receiver, act)-%}
<div class="modal hide fade"
     id="{{ modal_label }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="send_msg_modal-{{ receiver }}"
     aria-hidden="true">
    <form class="form-horizontal" action="{{ act }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <fieldset>
            <div id="legend" class="">
                <h2 class="">Send message to {{ receiver }}</h2>
            </div>
            <div class="control-group">
                <input type="hidden" value="{{ receiver }}" name="receiver"/>
                <input type="hidden" value="{{ sender }}" name="username"/>

                <label class="control-label" for="title_{{ receiver }}">Title</label>
                <div class="controls">
                    <input type="text" placeholder="Title" id="title_{{ receiver }}"
                           name="title" class="input-xlarge" required="required">
                </div>
            </div>

            <div class="control-group">

                <!-- Textarea -->
                <label class="control-label" for="content_{{ receiver }}">Message</label>
                <div class="controls">
                    <textarea name='content' id='content_{{ receiver }}' required="required" class="input-xlarge"></textarea>
                </div>
            </div>
            </div>

            <div class="control-group">
                <label class="control-label"></label>

            <!-- Button -->
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Send</button>
            </div>

        </fieldset>
    </form>
</div>
{% endmacro -%}
