<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chat</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css">
</head>
<body>
  <div class="hero-unit">
    <h1>UdacityPlus Chat Client</h1><br/>
    <form method="post">
      <div class="row">
        <div class="span2">Username</div>
        <div class="span4">
          <input type="text" name="username" value="{{username}}" />
        </div>
        <div class="span6">{{ usernameerror }}</div>
      </div>
      <div class="row">
        <div class="span2">Default Channel (optional)</div>
        <div class="span4">
          <input type="text" name="channel" value="{{ channel }}"/>
        </div>
        <div class="span6">{{ channelerror }}</div>
      </div>
      <div class="row">
        <div class="span4 offset2">
          <input type="submit" value="Connect"/>
        </div>
    </form>
  </div> <!-- End hero unit -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js" type="text/javacript"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    
  });
  </script> 
</body>
<footer><!--Powered by Twitter Bootstrap and jQuery-->
</footer>
</html>