{% extends "base.html" %}
{% block stylesheets %}
    {{ super() }}
    <link href="/web_temp/stylesheets/chosen.css" rel="stylesheet">
{% endblock stylesheets %}

{% block usercontent %}
<form class="form-horizontal span7 well" method="POST" action="{{ upload_url }}" enctype="multipart/form-data">
    <fieldset class="bs-docs-example">
        <div id="legend" class="">
            <legend class="">Select Project</legend>
        </div>
        {% if projects %}
            <div class="control-group">
                <label class="control-label" for="projects_dropdown">Select Project</label>
                <div class="controls">
                    <select class="span5" id="projects_dropdown" name="projects_dropdown" 
                    onchange="loadSelectedProject(this, null)">
                        {% for project in projects %}
                            <option value="{{ project.key.id() }}">{{ project.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr/>

            <div>
                <a href="javascript:removeSelectedProject(&quot;{{ username }}&quot;)" 
                class="btn pull-right" type="button" id="delete">
                    <i class="icon-trash"></i>
                </a>
            </div>

            <div class="control-group">
                <label class="control-label" for="title">Project Title</label>
                <div class="controls">
                    <input type="text" required="required" id="title" name="title" class="input-xlarge" maxlength="50"
                    value="{{ title }}">
                    {% if titleerror %}
                    <p class="help-block alert alert-error">
                        {{ titleerror }}
                    </p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="screenshot">Screenshot</label>
                <div class="controls">
                    <input type="file" id="screenshot" name="screenshot" class="input-xlarge">
                    {% if fileerror %}
                    <p class="help-block alert alert-error">
                        {{ fileerror }}
                    </p>
                    {% else %}
                    <p class="help-block">(maximum 1MB)</p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="url">Visit/Download Url</label>
                <div class="controls">
                    <input type="text" required="required" id="url" name="url" class="input-xlarge" maxlength="100"
                    value="{{ url }}">
                    {% if urlerror %}
                    <p class="help-block alert alert-error">
                        {{ urlerror }}
                    </p>
                    {% else %}
                    <p class="help-block">enter complete URL (including http://)</p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Short Description</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea required="required" maxlength="350" type="" style="width: 400px; height: 200px;" 
                        id="short_description" name="short_description"> {{ short_description }} </textarea>
                    </div>
                    {% if sderror %}
                    <p class="help-block alert alert-error">
                        {{ sderror }}
                    </p>
                    {% endif %}
                </div>
            </div>

            {% if errormsg %}
                <div class="control-group">
                    <div class="alert alert-error controls" style="width: 400px;">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Error!</strong> {{errormsg}}
                    </div>
                </div>
            {% endif%}


            <div class="control-group">
                <label class="control-label"></label>

                <!-- Button -->
                <div class="controls">
                    <button type="submit" class="btn btn-primary"> Update </button>
                    <button type="button" class="btn" onclick="redirectToUserHome(&quot;{{ username }}&quot;)">Cancel</button>
                </div>
            </div>
            <input type="hidden" name="mode" value="edit_project"/>

        {% else %}
            <h4> No projects added </h4>
        {% endif %}
        


    </fieldset>
</form>


{% endblock usercontent%}
{% block js %}
    {{ super() }}
    <script src="/web_temp/jsb_temp/js/chosen.jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/web_temp/jsb_temp/js/uplus-custom.js"></script>

    <script type="text/javascript" >

        $("#projects_dropdown").chosen();
        var js_title = new Array();
        var js_url = new Array();
        var js_short_description = new Array();
        var count = 0;

        {% for project in projects %}
            js_title[count] =  '{{project.title}}'
            js_url[count] =  '{{project.url}}'
            js_short_description[count] =  '{{project.short_description}}'
            count++;
        {% endfor %}
        
        var psel = getCookie('sel_i')
        loadSelectedProject(document.getElementById('projects_dropdown'), psel);

        $(document).ready( function () {
            setMaxLength();
            $("#short_description").bind("click mouseover keyup change", function(){checkMaxLength(this.id); } )
        });      
    </script>

    


{% endblock %}